// .container {
//   width: 1200px;
//   margin: 0 auto;

//   @include responsive(765px) {
//     width: 100%;
//     padding: 0 0.625rem;
//   }
// }

// .whiteBg {
//   background: $white !important;
//   box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
//   & a {
//     color: black !important;
//   }
// }

// .transparent {
//   background: transparent;

//   & a {
//     color: $white;
//   }
// }

.mt-120 {
  margin-top: 7.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.pl-15 {
  padding-left: 15px;
}

.rel {
  position: relative;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
}
