.drag-list {
  background-color: rgb(226, 233, 235);
  width: 100%;
  border-radius: 0.6rem;
  color: rgb(28, 28, 28);
  padding: 0.5rem;
  font-size: clamp(12px, 3vw, 16px);
  height: 100%;

  td {
    padding: 1rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .action-column {
    display: flex;
    align-items: center;

    & > div {
      margin-right: auto;
    }
  }

  @include responsive(tablet) {
    margin-top: 0;
  }
}

thead {
  background-color: #646cff;
  color: white;
  font-weight: 700;
  border-radius: 0.6rem;
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 30px;
  margin-bottom: 10px;
}

tbody {
  height: calc(100% - 40px);
  overflow-y: auto;
  display: block;
}

td {
  padding: 1rem;
  white-space: nowrap;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Esto es necesario para que las celdas no cambien de tamaño */
}

thead {
  width: calc(100%); /* ajustar según el ancho de la barra de desplazamiento */
}
