.drag-list {
  height: 100%;

  table {
    overflow: hidden;
    border-radius: 0.6rem;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    color: black;
    position: relative;
  }

  table tbody tr:first-child {
    .actions {
      & svg {
        margin: 0;
      }

      & > div {
        display: none;
      }
    }
  }

  table tbody tr td:first-child {
    & > svg {
      display: none;
    }

    & div {
      justify-content: flex-end;
    }
  }

  tr {
    border-radius: 0.3rem;
    box-sizing: border-box;
    display: block;
    margin-bottom: 0.625em;
  }

  table tbody {
    height: 100%;
  }

  table tbody tr {
    background-color: #f8f8f8;
  }

  table thead {
    background-color: #3a3a3b !important;
    display: none;
    margin-top: 1rem;
  }

  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    & svg {
      width: 1.2rem;
      height: 1.2rem;
      color: #242424;
    }

    & > svg {
      margin-right: 1.5rem;
    }
  }

  .active {
    color: #646cff !important;
  }

  .bg-dark {
    background-color: #3a3a3b;
  }

  .no-tasks {
    background-color: transparent;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;

    & td {
      width: 100%;
    }

    & td > div {
      width: 100%;
      display: flex;
      justify-content: center !important;
      align-items: center;
      color: #f8f8f8;
    }

    & svg {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  @include responsive(tablet) {
    table {
      background-color: #3a3a3b;
    }

    table tbody {
      padding: 0 1rem;
    }

    & table thead {
      display: table !important;
    }

    & table thead tr {
      display: table-header-group;
    }

    & table td {
      display: table-cell;
      text-align: center;
    }

    table td::before {
      content: none;
    }

    table tr {
      display: table;
    }

    table tbody tr {
      height: 65px;
    }

    .actions {
      justify-content: center;
    }

    table tbody tr td:first-child {
      & svg {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 1rem;
      }

      & div {
        justify-content: flex-start;
      }
    }
  }
}
