.floating-timer {
  display: flex;
  position: absolute;
  right: 32px;
  top: 20px;
  font-size: 1.5rem;

  & > div {
    display: flex;
    align-items: center;

    svg {
      margin-left: 8px;
    }
  }
}
