.form-task {
  h2 {
    font-weight: 700;
    color: $text-color;
  }

  button {
    background-color: $main-color;
    margin-left: auto;
  }

  button:disabled {
    background-color: $main-color;
    opacity: 0.5;
  }
}
