.table-history {
  background-color: rgb(226, 233, 235);
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: rgb(28, 28, 28);
  font-size: clamp(12px, 3vw, 16px);
  height: 100%;
  padding: 0.5rem;
  width: 100%;
  overflow-y: auto;

  td {
    padding: 1rem;
  }

  th {
    text-align: start;
    padding: 0 0.5rem;
  }

  svg {
    width: 1.2rem;
    height: 1.2rem;
    color: #242424;
  }

  .action-column {
    display: flex;
    align-items: center;

    & > div {
      margin-right: auto;
    }
  }

  @include responsive(tablet) {
    margin-top: 0;
  }
}

thead {
  background-color: #646cff;
  color: white;
  font-weight: 700;
  border-radius: 0.6rem;
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 30px;
  margin-bottom: 10px;
}

tbody {
  height: calc(100% - 40px);
  overflow-y: auto;
  display: block;
}

td {
  padding: 1rem;
  white-space: nowrap;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100%);
}
