.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;

  & > .container-buttons {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 1rem;
      justify-content: center;
      background-color: $main-color;
      margin-bottom: 0.5rem;
    }

    div {
      margin-bottom: 0.5rem;
      select {
        text-align: center;
      }
    }

    @include responsive(tablet) {
      flex-direction: row;
    }
  }
}
